{{define "header"}}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.Title}}</title>
</head>
<link rel="stylesheet" href="/public/css/main.css">
<body>
{{end}}

{{define "footer"}}
</body>
</html>
{{end}}